.container {
  background: rgba(230, 184, 103, 0.41);
}
.nopadding {
  padding: 0px;
}
.patterns_block {
  margin-right: 30px;
  background: papayawhip;
  padding: 30px;
  .image_block {
    width: 60px;
    margin-bottom: 25px;
    height: 60px;
  }
}

.navigation_block {
  background: papayawhip;
  padding: 30px;
  .buttons {
    a {
      margin: 10px;
    }
  }
}
